.btn {
    cursor: pointer;
    color: $white;
    display: block;
    padding: 17px 63px;
    background: $colorPrimery;
    border: none;
    border-radius: 2px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}