* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: $fontSize;
    font-family: 'Open Sans Regular';
    line-height: $lineHeight;
    color: $colorFont;
    background-color: $colorBackground;
}

h1 {
    font-size: $fontSizeH1;
    font-weight: $fontSemibold;
    color: $colorFont;
}

h2 {
    font-size: $fontSizeH2;
    line-height: 32px;
    font-weight: $fontSemibold;
    color: $colorFont;
}

h3 {
    font-size: $fontSizeH3;
    line-height: 28px;
    font-weight: $fontRegular;
    color: $colorFont;
}

p {}

.secondary-text {
    font-size: $fontSizeSecondary;
}

a {
    color: $colorLink;
    text-decoration: none;
    &:hover {
        color: $colorLinkHover;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    color: $white;
    display: block;
    font-family: Gotham Pro;
    font-size: 4.0rem;
    line-height: 6.0rem;
    text-transform: uppercase;
}