.page {
    &-header {
        padding: 15px 0;
        background: $white;
    }
    &__left {
        width: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: $white;
        & a {
            color: #000000;
            display: block;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transform: rotate(-90deg);
            transform-origin: 40% 20%;
        }
    }
    &__main {
        color: #fff;
        height: 100vh;
        background: $colorBackground;
        margin: 0 60px;
        padding-top: 45px;
        overflow: scroll;
    }
    &__right {
        width: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background: $white;
        & a {
            display: block;
            color: #000000;
            display: block;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transform: rotate(90deg);
            transform-origin: 35% -25%;
        }
    }
    &__decorator {
        background: url('../../img/bg-img.png') $colorBackground;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.container {
    max-width: 850px;
    margin: 0 auto;
}

.file {
    height: 450px;
    &__title {
        margin-top: 60px;
    }
}