.page-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 15px 60px;
    &__btn {
        position: absolute;
        right: 61px;
    }
}